.donate-banner {
  height: 40vh;
  background: url("/public/assets/banners/donate.png") center/cover no-repeat;
  position: relative;
}

.donate-banner-overlay {
  background: rgba(0,0,0,0.45);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.donate-banner-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.donate-banner-overlay p {
  font-size: 16px;
  opacity: 0.95;
}
